body {
  margin: 0;
  font-family: 'Roboto';
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  /* font-size: 50px; */
  text-align: center;
  margin: 0;
  padding: 10px 20px 10px 20px;
  color: #00275a;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: small;
  padding: 10px 10px 0 20px;
}

section {
  padding: 0;
  width: 100%;
}

/* FIRST SECTION  */
#first_section {
  background-color: rgb(244, 246, 253);
}

.phone_picture_2_cut {
  display: none;
}

.stores_qrCode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.qr_code {
  width: 40%;
  /* height: 40%; */
  margin-left: 20px;
}

.download_app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.apps {
  width: 90%;
  margin: 5px
}

.hand_phone-1 {
  width: 40%;
  max-width: 600px;

}

.center_of_section {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.links_icon {
  width: 15%;
}

.links_section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 12px;
  background-color: #0D1F28
}

.one_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(61, 106, 169);
  margin: 20px;
}

.link_icon_desktop {
  display: none
}

.text_link {
  margin: 10px;
  text-decoration: underline;
  color: #cee5f4;
}

/* SECOND SECTION */
#second_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244, 246, 253)
}

.one_point {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: small;
  padding: 10px;
}

.CTA {
  padding: 10px;
  text-decoration: underline;
  color: rgb(61, 106, 169);
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
}

.point_picture {
  padding: 5px;
}

.phone_picture_2 {
  width: 40%;
}

/* THIRD SECTION */
#third_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  background-color: rgb(244, 246, 253)
}

.phone_picture_3 {
  width: 40%;
}

/* FORTH SECTION */
#forth_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(244, 246, 253)
}

/* .center_of_section_5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */

.one_point_5 {
  display: flex;
  font-family: 'Roboto', sans-serif;
  /* justify-content: center; */
  align-items: center;
  font-weight: 700;
  font-size: small;
  padding: 10px;
}

/* FIFTH SECTION */
#fifth_section {
  background-color: rgb(244, 246, 253);
  padding-bottom: 10px;
}

.second_points {
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-size: small;
}

.circle_icon {
  margin: 10px;
}

.download_app_5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0px 0;
}

.download_app_5 img {
  width: 30%;
}

@media (min-width: 840px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(white 0%, #bae2fc 15%);
    /* background-color: rgb(186, 226, 252); */
  }

  section {
    width: 80%;
    padding: 30px;
  }

  .top_text,
  .description_1 {
    text-align: start;
  }

  .title_text {
    font-size: 50px;
    margin: 10px;
  }

  .description {
    font-size: 20px;
    font-weight: 600;
    padding: 30px;
    text-align: center;

  }

  .point_text {
    font-size: 17px;
  }

  .CTA {
    font-size: 19px;
  }

  #first_section {
    background: linear-gradient(145deg, #F2FDE5, white 50%);
    padding: 60px 20px 20px 40px;
  }

  .center_of_section {
    justify-content: space-around;
  }

  .description_1 {
    text-align: start;
  }

  .link_icon_desktop {
    display: block;
    width: 50px;
  }

  .link_icon {
    display: none;
  }

  .links_section {
    background-color: transparent;

  }

  .text_link {
    color: #1d57a6;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
  }

  .point_text {
    font-size: 20px;
  }

  #second_section {
    text-align: start;
    background-color: white;
    padding-bottom: 0;
  }

  .phone_picture_2 {
    display: none;
  }

  .phone_picture_2_cut {
    display: flex;
  }

  .desktop {
    display: flex;
    align-items: center;
  }

  .points {
    margin: 10px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .CTA {
    padding-top: 50px;
  }

  #third_section {
    text-align: start;
    background: linear-gradient(145deg, #F2FDE5, white 50%);
  }

  #forth_section {
    text-align: start;
    background-color: white;
  }

  #fifth_section {
    text-align: start;
    background: linear-gradient(145deg, #F2FDE5, white 50%);
  }

  .links_section {
    flex-direction: row;
  }
}
